<footer class="page-footer font-small cyan darken-3 fixed-bottom" id="footer">
    <div class="footer-copyright text-left py-3 ">
        <p>
            © 2019 Copyright:Oleh Kriuchenkov
            Contact us on email:md.net@gmail.com or our phone number:+380992433210
        </p>
    </div>
</footer>
