<!--/span-->
<div class="col-md-3">
    <div class="sidebar-nav-fixed pull-right affix">
        <div class="well">
            <ul class="nav ">
                <li class="nav-header">Menu</li>
                
                <li class="active">
                    @Html.ActionLink("Home", "Index", "Client")
                </li>
                
                <li>
                    @Html.ActionLink("Services", "Services", "Home")
                </li>
            </ul>
        </div>
        <!--/.well -->
    </div>
    <!--/sidebar-nav-fixed -->
</div>
<!--/span-->
