@model IEnumerable<EPAM_Internet_Provider.Domain.Models.Service>

@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.ActionLink("Service Info", "GetServiceInfo", new { serviceId = item.ServiceId })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to Home", "Index")