@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/publicLayout.cshtml";
}

<div class="jumbotron">
    <p class="lead">MDNet is a internet provider that provides stable and high speed internet, affordable prices and more...</p>
    <p><a href="~/Home/Services" class="btn btn-primary btn-lg">View services &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why MDNet?</h2>
        <p>
            MDNet is a new provider that ensure high quality connection into your home and concentrates on our community to improve our company.
        </p>
    </div>
    <div class="col-md-4">
        <h2>We are new...</h2>
        <p>We just getting started, so we will do our best, you can check with our trial period.<br>Duration of trial is 3 days, so you can try our service.</p>
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p>If you have some problems or question, you always can call our support that works 24/7.</p>
    </div>
</div>