@model EPAM_Internet_Provider.Models.UserInfo

@{
    ViewBag.Title = "AdminAccountPage";
}

<div>
    <h4>Admin account page</h4>
    <hr />
    @Html.ActionLink("Add user", "AddUserByAdminSkill", "Admin")|
    @Html.ActionLink("Service list", "GetServices", "Admin")|
    @*@Html.ActionLink("Edit rate list", "EditRatesDetails", "General")*@
    @Html.ActionLink("View users list", "ViewUserList", "Admin")
   >
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
